{% extends 'base.html' %}

{% block nav_6 %}
<li class="nav-item"><a class="nav-link active" href="/acknowledgement_and_references"><!--Acknowledgement and -->References</a></li>
{% endblock %}
{% block content %}
<!--<p style="font-size:16px;"><b style="font-family:arial;color:black;font-size:16px;">Acknowledgement</b></p>
<p style="font-size:16px;">We thank Zongmu Ltd. to facilitate with the vehicle set up and data collection.</p>
<p style="font-size:16px;">We thank XXX Lab of Nanjing University in providing the LightGene hyperspectral camera.</p>
<p style="font-size:16px;">We thank the following people in contributing to the dataset labeling.</p>
<p style="font-size:16px; padding-left: 2rem"> -</p>
<p style="font-size:16px;">We thank the following people in organizing the challenge.</p>
<p style="font-size:16px; padding-left: 2rem"> -</p>-->
<p style="font-size:16px;"><b style="font-family:arial;color:black;font-size:16px;">References</b></p>
<ol style="font-size:16px;padding-left: 0.8rem;line-height: 2rem">
    <li>Cordts, M., Omran, M., Ramos, S., Rehfeld, T., Enzweiler, M., Benenson, R.,
        Franke, U., Roth, S., Schiele, B.: The cityscapes dataset for semantic urban scene
        understanding. In: Proceedings of the IEEE conference on computer vision and
        pattern recognition. pp. 3213-3223 (2016)</li>
    <li>Russell, B.C., Torralba, A., Murphy, K.P., Freeman, W.T.: Labelme: a database
        and web-based tool for image annotation. International journal of computer vision
        77(1-3), 157-173 (2008)</li>
</ol>

{% endblock %}