{% extends 'base.html' %}

{% block nav_3 %}
<li class="nav-item"><a class="nav-link active" href="/download">Dataset Download</a></li>
{% endblock %}
{% block content %}
<p style="font-size:16px;"><b style="font-family:arial;color:black;font-size:16px;">Access the Challenge Dataset</b></p>
{% if userInfo.email%}
<p style="font-size:16px;">Challenge Dataset can be downloaded from here:</p>
<p style="font-size:16px;">Baidu: <a href="https://pan.baidu.com/s/1n828D2iIxMv-FgP9Ikv0lQ" target="_blank"><img src="/static/images/baidu.png" style="height: 1rem"><b>Training Set</b></a>(with the code 'u5qj'), <img src="/static/images/baidu.png" style="height: 1rem"><b>Testing Set</b>(coming soon).</p>
<p style="font-size:16px;">Dropbox: <a href="https://www.dropbox.com/sh/yv8yz0u16aj83yz/AAA_l0Sskzr3bOfomp4zF4Z4a?dl=0" target="_blank"><img src="/static/images/baidu.png" style="height: 1rem"><b>Training Set</b></a>, <img src="/static/images/baidu.png" style="height: 1rem"><b>Testing Set</b>(coming soon).</p>
{% else %}
<p style="font-size:16px;color:red">Please sign in for challenge dataset.</p>
{% endif %}
<p style="font-size:16px;color:red">The Dataset is for this chanllenge and research purpose only. Commercial use is not permitted.</p>
<p style="font-size:16px;">If participants would like to use dateset in this challenge to produce academic outputs, this <a href="https://arxiv.org/abs/1907.10270" target="_blank">document</a> must be cited:</p>
<p style="font-size:16px;">[1]"Hyperspectral City V1.0 Dataset and Benchmark",Shaodi You*,arXiv:1907.10270.</p>
<p style="font-size:16px;">E-mail pbdl.ws@outlook.com if you have any technical problems.</p>
<p style="font-size:16px;"><b style="font-family:arial;color:black;font-size:16px;">Content of The Downloaded Package</b></p>
<p style="font-size:16px;">In the dataset, you may find a folder for training data. </p>
<p style="font-size:16px;"><b class="font-italic">Train </b><br/>In the training dataset folder, you will find 367 sub-folders, each of which is named with an index. In each of the folder, you will find four files, which are:</p>
<p style="font-size:16px;">&lt*.hsd>, &lt*_cropped.png>, &ltlabel_gray.png>, &ltlabel_viz.png></p>
<p style="font-size:16px;">They are: 1. the hyperspectral data file, 2. The RGB visualization of the hyperspectral image, 3. Semantic labelling with the pixel values 0~9, 4. Visualization of the semantic labelling by use different RGB color. The $*$ is the filename which is the same as the folder name.</p>
<p style="font-size:16px;"><b class="font-italic">Read Hyperspectral Cubic Dataset </b><br/>In the dataset package, you will find a MATLAB file named \textit{readHSD.m}, which is the MATLAB code to read the hyperspectral data. The data format is similar as RGB images, the different is the file has 125 channels rather than 3 channels.</p>

{% endblock %}