{% extends 'base.html' %}

{% block nav_0 %}
<li class="nav-item"><a class="nav-link active" href="/important_dates">Important Dates</a></li>
{% endblock %}
{% block content %}
<!--<p style="font-size:16px;"><b style="font-family:arial;color:black;font-size:16px;">Important dates</b></p>-->
<ul style="font-size:16px;line-height: 4rem;color:black">
    <li><b>- Site open and training datset avaialbe for download: July 25,2019</b></li>
    <li><b>- Testing dataset avaialbe for download, challenge open for submission: Aug 8,2019</b></li>
    <li><b>- Challenge close: Aug 28,2019</b></li>
</ul>
{% endblock %}